<p><%= "#{t('devise.salutation.hello')} #{@resource.email}" %>!</p>

<p><%= t('devise.password.reset.intro') %></p>

<p><%= link_to "#{t('devise.password.change.my')}", edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.password.change.ignore') %></p>
<p><%= t('devise.password.change.info') %></p>
